<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionName="@string/global_app_version" package="com.galapk.litelisten" android:versionCode="23">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

	<application android:icon="@drawable/icon"
		android:label="@string/global_app_name_no_version">
		<activity android:name=".scrMain"
			android:windowSoftInputMode="adjustPan" android:label="@string/global_app_name_no_version"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<!-- 设置文件关联 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="audio/x-mpeg" />
			</intent-filter>

			<intent-filter>
				<action android:name="com.littledai.intent.action.float.lrc.lock" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:label="@string/pfrsmain_title"
			android:launchMode="singleInstance" android:name=".scrSettings">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<receiver android:name=".WidgetSmall" android:label="@string/widget_title_small">
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_provider_small" />
			<intent-filter>
				<action android:name="com.littledai.litelisten" />
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.littledai.intent.action.refresh.lrc" />
				<action android:name="com.littledai.intent.action.refresh.timentitle" />
				<action android:name="com.littledai.intent.action.is.playing" />
				<action android:name="com.littledai.intent.action.not.playing" />
			</intent-filter>
		</receiver>

		<receiver android:name=".WidgetMedium" android:label="@string/widget_title_medium">
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_provider_medium" />
			<intent-filter>
				<action android:name="com.littledai.litelisten" />
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.littledai.intent.action.refresh.lrc" />
				<action android:name="com.littledai.intent.action.refresh.timentitle" />
				<action android:name="com.littledai.intent.action.is.playing" />
				<action android:name="com.littledai.intent.action.not.playing" />
			</intent-filter>
		</receiver>

		<receiver android:name=".WidgetLarge" android:label="@string/widget_title_large">
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_provider_large" />
			<intent-filter>
				<action android:name="com.littledai.litelisten" />
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.littledai.intent.action.refresh.lrc" />
				<action android:name="com.littledai.intent.action.refresh.timentitle" />
				<action android:name="com.littledai.intent.action.is.playing" />
				<action android:name="com.littledai.intent.action.not.playing" />
			</intent-filter>
		</receiver>
	</application>

	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.INTERNET" />

	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="5"
		android:maxSdkVersion="10" />

	<supports-screens android:smallScreens="false"
		android:normalScreens="true" android:largeScreens="true"
		android:anyDensity="true" />
</manifest> 