<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.littledai.litelisten" android:versionCode="2011" android:versionName="2011 0316.1445 Beta1">
	<application android:icon="@drawable/icon" android:label="@string/global_app_name"
		android:debuggable="true">
		<activity android:name=".srcMain"
			android:windowSoftInputMode="adjustPan" android:label="@string/global_app_name"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:label="@string/pfrsmain_title"
			android:name=".SettingService" android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<receiver android:name=".WidgetProvider" android:label="@string/widget_title_4_2">
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_provider_4_2" />
			<intent-filter>
				<action android:name="com.littledai.litelisten" />
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.littledai.intent.action.refresh.lrc" />
				<action android:name="com.littledai.intent.action.refresh.timentitle" />
			</intent-filter>
		</receiver>
	</application>

	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
</manifest> 