<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="2010" android:versionName="1126.0022" package="com.littledai.top5friends">
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="true">
    	<!--程序设置-->
        <activity android:label="@string/main_title" android:name=".AFriends" android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.LAUNCHER" />--><!--不创建应用程序图标-->
            </intent-filter>
        </activity>
        
		<!--索引对话框设置-->
        <activity android:name="com.littledai.top5friends.IndexingDialog" 
        		android:label="@string/indexing_title" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.LAUNCHER" />--><!--不创建应用程序图标-->
            </intent-filter>
        </activity>
        
        <!--桌面小部件设置-->
        <receiver android:name="com.littledai.top5friends.Widget">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider" />
            <intent-filter>
            	<action android:name="cn.aaronsoft.afriends" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

<!--用户权限-->
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
</manifest> 